<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>details</title>
</head>
<body>
    <!-- header start -->
<div class="container-fluid main_header m-0 p-0">
    <input class="response-message" type="hidden" value="" />
<input class="response-type" type="hidden" value="" />
<input class="response-duration" type="hidden" value="5000" />
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <img src="images/u.PNG" class=" img img-fluid">
        </div>
    </div>
</div>
<div class="container-fluid header_menu m-0 p-0">
    <div class="row">
        <div class="col-md-12">
            <div id="mobnav-btn"></div>
            <ul class="sf-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="all course.html">All Courses</a></li>
                <li><a href="students.html">Our Students</a></li>
                <li><a href="feedback.html">Student's Feedback</a></li>
               
                <li><a href="instructor.html">Our Instructors</a></li>
                <li><a href="about us.html">About Us</a></li>
                <li><a href="contract.html">Contacts</a></li>
                    <li class="button"><a href="login.html" >Log In</a></li>
                    <li class="button_left">
                        <a href="signup.html" >Sign Up</a>
                        <div class="mb"></div>
                    </li>
            </ul>
        </div>
    </div>
</div>
<!-- header end -->
    <!--data start-->
    <div class="container-fluid data m-0 p-0">

    <div class="say">
        <div class="say_left">
            
           
            <img src="images/d.jpg" alt="">
        </div>
        <div class="say_right">
            
             
            <h1>Data Structure and Algorithms</h1>
            
            <p style="margin-top: 30px;margin-bottom: 20px;">This course focuses on data structure and algorithm fundamentals. Learning data structures and algorithms is beneficial
            for a better understanding of new frameworks such as Angular, React, Vue, Spring MVC, etc. When you get an exposure to a
            different range of problem-solving techniques, it helps you take up the next challenging problem easily.
            </p>
                <div class="price">
                    <span style="color:green;margin-top: 20px;">
                        ৳5,000
                    </span>
            </div>
            <div class="separator clearfix">
                <p  style="color:forestgreen;font-weight:bold;margin-top:2px; margin-bottom:2px;">Registration Is Going On</p>
            </div>
            <button class="say-button">Apply Now</button>
           
        </div>
        </div>
        <!--data end-->
        <!--footer start-->
<div class="container-fluid m-0 p-0">
    <div class="row">
        
            <div class="foot">
           <div class="foot-one">
            <img src="images/u1.png" alt="">
           </div>
           <div class="foot-two">
               <!--
               <img style="width: 500px;"src="images/paywith.png" alt="">
               -->
            <img style="width: 500px;" src="images/AmarPay.png" alt="">
           </div>
           
            
        </div>
    </div>
</div>
    <p class="copyright">@Copyright 2021 -Learning Zone </p>
<!--footer end-->

        
        
</body>
</html>