body {
    font-family: "Roboto Slab", serif;
  }
  .h1-tag {
    text-align: center;
    margin-top: 4%;
  }
  .fd-page {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .h3-tag {
    text-align: center;
    margin-bottom: 1%;
  }
  .Feedback input,
  .Feedback textarea {
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-color: navy;
    border-radius: 5px;
  }
  .button1 {
    color: oldlace;
    width: 150px;
    height: 50px;
    background-color: navy;
  }