<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="feedback.css">

</head>
<body>
    <h1 class="h1-tag">Your Feedback Is important For Us</h1>
<div class="fd-page">
    <section class="feedback">
        
        <div class="Feedback">
            <form action="">
                <h4>Name</h4>
                <input type="text" placeholder="Enter your name" required>
                <h4>Email Address</h4>
                <input type="email" placeholder="Enter your email" required>
                <h4>Course name</h4>
                <input type="contact" >
                <h4>Feedback</h4>
                <textarea rows="8" placeholder="Your feedback" required></textarea>
                <button type="submit" class="button1">Post Comment</button>
            </form>
        </div>
    </section>
</div>
</body>

</html>